.main{background-color: rgb(109,187,166);
}
body{border: 3px solid green;}
.Top{
background-color: rgb(135,211,135);
height: 40px;
position: fixed;
margin-top: -60px;
width: 97%;
display: grid;
grid-template-columns: repeat(5,1fr);
}
.Top1{
display: grid;
grid-template-columns: repeat(5,1fr);
background-color: rgb(135,211,135);
height: 40px;
position: fixed;
margin-top: -60px;
width: 97%;}
.Top a{
margin-left:10px;
text-decoration:none;
color:rgb(8,56,128);
font-size: 20px;
}
.Top1 a{
margin-left: 10px;
text-decoration: none;
color: rgb(8,56,128);
font-size: 20px;
}
.top2 a{
color: black;
font-size:12px ;
text-decoration: none;
}
.top2{display: grid;
grid-template-columns: repeat(4,1fr);
margin-top: 60px;
height: 50px;
}
.top2 img{padding-top: 10px;
padding-left: 10px;
height: 30px;
}
.top-left{float: left;
grid-gap: 50px;
}
.top-right{float: right;}
.middle{
display: grid;
grid-template-columns: 1fr 2fr 2fr;
grid-gap: 20px;
}
.middle2{
display: grid;
grid-template-columns: 1fr 4fr;
grid-gap: 10px;
}
.my_photo img{
height: 400px;
}
.nav-left{
background-color: rgb(220,204,204);
width: 200px;
height: 500px;
}
.nav-left2{
background-color: rgb(220,204,204);
width: 200px;
height: 400px;
}
.nav-left a,.nav-left2 a{
visibility: hidden;
}
.nav-right2,.nav-right{
height: 450px;
background-color: rgb(143, 148, 155);
}
h2{text-align: center;}
.nav-right2 p{
color:rgb(37,103,202);
padding-left: 15px;
}
.nav-right p{padding-left: 15px;
color: white;
}
table{
border-collapse: collapse;
margin-left: 15px;
}
.per-id,.ed-back,.exper,.skills,.spok-lang,.refe{padding-left: 10px;}
.per-id:hover a,.ed-back:hover a,.exper:hover a,.skills:hover a,.spok-lang:hover a,.refe:hover a{
visibility: visible;
color: green;
text-decoration: none;
}


@media screen and (max-width:1200px){
.main{background-color: rgb(109,187,166);
    }
    body{border: 3px solid green;}
.Top{
    background-color: rgb(135,211,135);
    height: 40px;
    position: fixed;
    margin-top: -60px;
    width: 97%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.Top1{
display: grid;
grid-template-columns: repeat(5,1fr);
background-color: rgb(135,211,135);
height: 40px;
position: fixed;
margin-top: -60px;
width: 97%;}
.Top a{
    margin-left:10px;
    text-decoration:none;
    color:rgb(8,56,128);
    font-size: 20px;
}
.Top1 a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(8,56,128);
    font-size: 20px;
}
.top2 a{
    color: black;
    font-size:12px ;
    text-decoration: none;
}
.top2{display: grid;
grid-template-columns: repeat(4,1fr);
margin-top: 60px;
height: 50px;
}
.top2 img{padding-top: 10px;
    padding-left: 10px;
    height: 30px;
}
.top-left{float: left;
grid-gap: 50px;
}
.top-right{float: right;}
.middle{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px;
}
.middle2{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}
.my_photo img{
    height: 400px;
}
.nav-left{
  background-color: rgb(220,204,204);
  width: 200px;
  height: 500px;
}
.nav-left2{
    background-color: rgb(220,204,204);
    width: 200px;
    height: 400px;
}
.nav-left a,.nav-left2 a{
    visibility: hidden;
}
.nav-right2,.nav-right{
    height: 450px;
    background-color: rgb(143, 148, 155);
}
h2{text-align: center;}
.nav-right2 p{
    color:rgb(37,103,202);
    padding-left: 15px;
}
.nav-right p{padding-left: 15px;
color: white;
}
table{
    border-collapse: collapse;
    margin-left: 15px;
}
.per-id,.ed-back,.exper,.skills,.spok-lang,.refe{padding-left: 10px;}
.per-id:hover a,.ed-back:hover a,.exper:hover a,.skills:hover a,.spok-lang:hover a,.refe:hover a{
    visibility: visible;
    color: green;
    text-decoration: none;
}
}


@media screen and (max-width:1024){
    .middle2{display: grid;
    grid-template-columns: 1fr 4fr;
grid-gap: 10px;
}
.middle{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
}
.top2 img{
    padding-top: 10px;
    padding-left: 10px;
    height: 20px;
}
}


@media screen and (max-width:768){

    
}